/node_modules
/public/hot
/public/project_img
/public/storage
/storage/*.key
/public/vendor/
/public/pdf/
/public/img/reports
/resources/views/docUploads
/config/snappy.php
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
